.returnButton {
    -fx-background-color: linear-gradient(#464d55, #25292e);
    -fx-border-radius: 8;
    -fx-border-width: 0;
    -fx-text-fill: #fff;
    -fx-font-family: "System";
    -fx-font-size: 18;
    -fx-padding: 0 32;
}

.returnButton:hover {
    -fx-opacity: 0.85;
}

.returnButton:pressed {
    -fx-background-color: linear-gradient(#25292e, #464d55);
}